.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    position: fixed;
    top:0
  }
  
  .navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }

  .nav-link.active {
    color: #307e6c;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar p {
    margin: 0;
    margin-right: 10px;
  }
  
  .search-bar input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-toggle{
    display: none;
  }

  @media screen and (max-width: 768px) {
    .desktop-menu {
      display: none;
    }
  
    .mobile-menu-toggle {
      display: block;
    }
  
    .mobile-menu {
      display: flex;
      flex-direction: column;
      background-color: #3e3e3e;
      padding: 10px 15px;
      position: fixed;
      width: 180px;
      height: 100vh;
      top: 47px;
      left: 0;
    }
  
    .mobile-menu .nav-item {
      margin: 5px 0;
    }

    .mobile-menu li {
      border-bottom: 1px dashed grey;
      padding: 10px
    }
    .mobile-menu .navbar-brand a {
      font-size: 1rem;
    }
  }
  